<material-content style="top:128px" ng-controller="applicationDetailCtrl">
    <form class="form confman_form" name="form" novalidate>
        <div class="row">
            <div class="col-md-12">
                <h4>Application</h4>

                <div class="row" ng-show="application.id">
                    <div class="col-xs-2"><label for="data-id">&nbsp;Id</label></div>
                    <div class="col-xs-10"><input type="text" id="data-id" readonly ng-model="application.id"></div>
                </div>
                <div class="row">
                    <div class="col-xs-2"><label for="data-code">&nbsp;Code</label></div>
                    <div class="col-xs-10"><input type="text" id="data-code" required ng-model="application.code"></div>
                </div>
                <div class="row">
                    <div class="col-xs-2"><label for="data-label">&nbsp;Label</label></div>
                    <div class="col-xs-10"><input type="text" id="data-label" size="50" required
                                                  ng-model="application.label"></div>
                </div>
                <div class="row">
                    <div class="col-xs-2"><label for="data-softwaresuite">&nbsp;Software
                        suite</label></div>
                    <div class="col-xs-6">
                        <select id="data-softwaresuite"  ng-model="application.idSoftwareSuite"
                                ng-options="softwareSuite.id as softwareSuite.label for softwareSuite in softwaresuites">
                            <option value="" ng-hide="application.softwareSuite">S&eacute;lection agr&eacute;gat</option>
                        </select>
                       {{application.softwareSuite}}
                    </div>
                    <br>&nbsp;
                    <br>&nbsp;
                </div>
                <div class="col-md-4">
                    <h4>Instances</h4>

                    <div class="thumbnail">
                        <h4>
                            nb instances : {{application.instances.length}}
                            <div class="confman_btn" style="width: 50%">
                                <button class="btn btn-primary" ng-click="createInstance()">
                                    <img src="../img/icon/ic_insert_drive_file_24px.svg" title="New"/>
                                </button>
                            </div>
                        </h4>
                        <material-list>
                            <material-item ng-repeat="instance in application.instances"
                                           ng-dblClick="updateInstance(env)">
                                <div class="material-tile-content">
                                    <h2>{{instance.code}}</h2>

                                    <p>{{instance.label}}</p>
                                </div>
                            </material-item>
                        </material-list>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Versions</h4>

                    <div class="thumbnail">
                        <h4>
                            nb versions : {{application.versions.length}}
                            <div class="confman_btn" style="width: 50%">
                                <button class="btn btn-primary" ng-click="createVersion()">
                                    <img src="../img/icon/ic_insert_drive_file_24px.svg" title="New"/>
                                </button>
                            </div>
                        </h4>
                        <material-list>
                            <material-item ng-repeat="version in application.versions" ng-dblClick="updateVersion(env)">
                                <div class="material-tile-content">
                                    <h2>{{version.code}}</h2>

                                    <p>{{version.label}}</p>
                                </div>
                            </material-item>
                        </material-list>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Parameters</h4>

                    <div class="thumbnail">
                        <h4>
                            nb parameters : {{application.parameters.length}}
                            <div class="confman_btn" style="width: 50%">
                                <button class="btn btn-primary" ng-click="createParameter()">
                                    <img src="../img/icon/ic_insert_drive_file_24px.svg" title="New"/>
                                </button>
                            </div>
                        </h4>
                        <material-list>
                            <material-item ng-repeat="parameter in application.parameters"
                                           ng-dblClick="updateParameter(env)">
                                <div class="material-tile-content">
                                    <h2>{{parameter.code}}</h2>

                                    <p>{{parameter.label}}</p>
                                </div>
                            </material-item>
                        </material-list>
                    </div>
                </div>
            </div>
    </form>
</material-content>

<script type="text/ng-template" id="modalAddEltToApplication.html">
    <div class="modal-header">
        <h3 class="modal-title">{{appelt.title}}</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger confman_error" role="alert" ng-show="error">
            Error : {{error.message}}
        </div>
        <div class="thumbnail">
            <div class="row" ng-show="appelt.id">
                <div class="col-xs-2"><label for="data-id">&nbsp;Id</label></div>
                <div class="col-xs-10"><input type="text" id="data-id" readonly ng-model="appelt.id"></div>
            </div>
            <div class="row">
                <div class="col-xs-2"><label class="control-label" for="data-code">&nbsp;Code</label></div>
                <div class="col-xs-10"><input type="text" id="data-code" required ng-model="appelt.code"></div>
            </div>
            <div class="row">
                <div class="col-xs-2"><label class="control-label" for="data-label">&nbsp;Label</label></div>
                <div class="col-xs-10"><input type="text" id="data-label" size="50" required ng-model="appelt.label">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="ok()">
                <img src="img/icon/ic_delete_24px.svg" title="{{appelt.verb}}"/>
            </button>
            <button class="btn btn-default" ng-click="cancel()">
                <img src="img/icon/ic_clear_24px.svg" title="Cancel"/>
            </button>
        </div>
</script>
<script type="text/ng-template" id="modalAddParamToApplication.html">
    <div class="modal-header">
        <h3 class="modal-title">{{appparam.title}}</h3>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="ok()">
            <img src="img/icon/ic_delete_24px.svg" title="{{appparam.verb}}"/>
        </button>
        <button class="btn btn-default" ng-click="cancel()">
            <img src="img/icon/ic_clear_24px.svg" title="Cancel"/>
        </button>
    </div>
</script>