@menu_title_left: 64px;

.menu_title{
  display:inline-table;
  width: 100%;
  position: relative;
  height: 80px;

  img {
    position: absolute;
    padding: 2px;
    left: 0px
  }

  h2 {
    left:@menu_title_left;
    top:5px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    width: 78%;
    text-align: center;
  }

  small {
    left:@menu_title_left;
    top:35px;
    position: absolute;
    width: 78%;
    text-align: center;
    line-height: 80%;
  }
}

.menu_content{
  top: 120px;
}

.confman_image{
  text-align: center;

  img {
    max-width: 100%;
  }
}

.confman_btn{
  img{
    width: 24px;
    height: 24px;
  }
  display:inline-block;
  text-align: right;
  width: 100%;
}

.confman_form{
  label {
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    display:inline;
    top: 8px;
    position: absolute;
  }
  .thumbnail {
    padding: 10px;
  }
}

.confman_error{
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
  max-height: 120px;
}
.material-theme-grey {
  background-color: #eeeeee !important;
  color: #111111 !important; }