<!DOCTYPE html>
<html ng-app="confman" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confman</title>
    <meta name="author" content="@agnes_crepet"/>
    <meta name="author" content="@guillaumeehret"/>
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <!-- build:css(src) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="lib/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/style.css"/>
    <!-- endbuild -->
</head>
<body ng-controller="appCtrl" layout="horizontal">


<md-sidenav class="md-sidenav-left md-whiteframe-z3 " component-id="left">

    <md-toolbar class="md-theme-light">
        <div class="confman-menu-title md-theme-light">
            <img src="img/icone64.png"/>

            <h2 style="top:20px">&nbsp;Confman</h2>
        </div>
    </md-toolbar>

    <md-content flex>
        <p>&nbsp;</p>
        <a class="menu-item menu-title" href="index.html" ng-click="toggleLeft()"
           ng-class="{active : isConfmanPageSelected(['home'])}">Home</a>

        <button class="menu-item menu-title" ng-class="{active : isConfmanPageSelected(['env','soft','app'])}">
            Settings
        </button>
        <a class="menu-item menu-sub-item" href="#/environment" ng-click="toggleLeft()"
           ng-class="{active : isConfmanPageSelected(['env'])}">
            <span>Environment</span>

        </a>
        <a class="menu-item menu-sub-item" href="#/softwaresuite" ng-click="toggleLeft()"
           ng-class="{active : isConfmanPageSelected(['soft'])}">Software suite</a>
        <a class="menu-item menu-sub-item" href="#/application" ng-click="toggleLeft()"
           ng-class="{active : isConfmanPageSelected(['app'])}">Application</a>

        <button class="menu-item menu-title"
                ng-class="{active : isConfmanPageSelected(['confcreate','confcomp','confsearch'])}">Configuration
        </button>
        <a class="menu-item menu-sub-item" href="#/config/search" ng-click="toggleLeft()"
           ng-class="{active : isConfmanPageSelected(['confsearch'])}">Find</a>
        <a class="menu-item menu-sub-item" href="#/config/create" ng-click="toggleLeft()"
           ng-class="{active : isConfmanPageSelected(['confcreate'])}">Create</a>
        <a class="menu-item menu-sub-item" href="#/config/compare" ng-click="toggleLeft()"
           ng-class="{active : isConfmanPageSelected(['confcomp'])}">Compare</a>

    </md-content>
</md-sidenav>

<div layout="vertical" layout-fill>
    <md-toolbar class="md-theme-light">
        <div class="md-toolbar-tools">
            <div class="menu-icon" ng-click="toggleLeft()" hide-md>
                <md-icon icon="img/icon/ic_menu_24px.svg"></md-icon>
            </div>

            <span ng-bind="currentPage.name || 'Confman'" style="margin-left: 9px"></span>

            <div class="md-display-flex md-flex menu_toolbox">
                <!-- use up the third space so the button is on the right -->
            </div>
            <md-button class="md-button" style="position: static; display: block;"
                       ng-show="currentPage.actionbar"
                       ng-repeat="act in currentPage.actionbar" ng-click="act.action()">
                <img ng-src="/img/icon/{{act.icon}}.svg" style="width: 24px; height: 24px;"/>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-theme-grey" scroll-header condensed-height="60"
                ng-show="currentPage.description">

        <div class="md-toolbar-tools md-toolbar-tools-bottom">
            <span class="md-flex md-indent"><small>{{currentPage.description}}</small></span>
        </div>
        <md-button class="md-button-fab md-button-fab-bottom-right md-theme-yellow" style="top: 20px">
            <img ng-src="img/icon/{{currentPage.icon}}.svg" style="width: 24px;height: 24px"/>
        </md-button>
    </md-toolbar>
    <div class="col-md-12">
        <br>

        <div class="alert alert-danger" ng-show="errorUrl">
            {{errorUrl}}
        </div>
    </div>
    <ng-view class="sliding-view">

    </ng-view>
</div>

<script type="text/ng-template" id="modalConfirmDelete.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete confirmation</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to delete the {{entity_todelete}} ?
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="ok()">
            <img src="img/icon/ic_delete_24px.svg" title="Delete"/>
        </button>
        <button class="btn btn-default" ng-click="cancel()">
            <img src="img/icon/ic_clear_24px.svg" title="Cancel"/>
        </button>
    </div>
</script>

<script src="config.js"></script>

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<script src="lib/jquery/dist/jquery.js"></script>
<script src="lib/json3/lib/json3.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="lib/hammerjs/hammer.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,src}) scripts/angular.js -->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-resource/angular-resource.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="lib/angular-animate/angular-animate.js"></script>
<script src="lib/angular-aria/angular-aria.js"></script>
<script src="lib/angular-material/angular-material.js"></script>
<script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,src}) scripts/scripts.js -->
<script src="js/utils.js"></script>
<script src="js/app.js"></script>
<script src="js/controller/main.js"></script>
<script src="js/controller/environment.js"></script>
<script src="js/controller/softwaresuite.js"></script>
<script src="js/controller/application.js"></script>
<script src="js/controller/applicationdetail.js"></script>
<script src="js/controller/configcompare.js"></script>
<script src="js/controller/configcreate.js"></script>
<script src="js/controller/configsearch.js"></script>
<script src="js/service/entities.js"></script>
<script src="js/service/tables.js"></script>
<script src="js/service/param.js"></script>
<script src="js/directive/semver.js"></script>
<!-- endbuild -->

</body>
</html>


