<!DOCTYPE html>
<html ng-app="confman" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confman</title>
    <meta name="author" content="@agnes_crepet"/>
    <meta name="author" content="@guillaumeehret"/>
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <!-- build:css(src) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="lib/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/style.css"/>
    <!-- endbuild -->
</head>
<body ng-controller="appCtrl" layout="horizontal">


<md-sidenav class="md-sidenav-left md-whiteframe-z3 " component-id="left">

    <md-toolbar class="md-theme-light">
        <div class="confman-menu-title md-theme-light">
            <img src="img/icone64.png"/>

            <h2 style="top:20px">&nbsp;Confman</h2>
        </div>
    </md-toolbar>

    <md-content flex>
        <p>&nbsp;</p>
        <a class="menu-item menu-title" href="index.html" ng-click="toggleLeft()"
           ng-class="{active : isConfmanPageSelected(['home'])}"><span translate="global.menu.home">Home</span></a>

        <button class="menu-item menu-title" ng-class="{active : isConfmanPageSelected(['env','soft','app'])}"
                translate="global.menu.settings">
        Settings
        </button>
        <a class="menu-item menu-sub-item" href="#/environment" ng-click="toggleLeft()"
           ng-class="{active : isConfmanPageSelected(['env'])}">
            <span translate="global.menu.environment">Environment</span>
        </a>
        <a class="menu-item menu-sub-item" href="#/softwaresuite" ng-click="toggleLeft()"
           ng-class="{active : isConfmanPageSelected(['soft'])}">
            <span translate="global.menu.softwaresuite">Software suite</span>
        </a>
        <a class="menu-item menu-sub-item" href="#/application" ng-click="toggleLeft()"
           ng-class="{active : isConfmanPageSelected(['app'])}">
            <span translate="global.menu.application">Application</span>
        </a>

        <button class="menu-item menu-title"
                ng-class="{active : isConfmanPageSelected(['confcreate','confcomp','confsearch'])}"
                translate="global.menu.config">
            Configuration
        </button>
        <a class="menu-item menu-sub-item" href="#/config/search" ng-click="toggleLeft()"
           ng-class="{active : isConfmanPageSelected(['confsearch'])}">
            <span translate="global.menu.find">Find</span>
        </a>
        <a class="menu-item menu-sub-item" href="#/config/create" ng-click="toggleLeft()"
           ng-class="{active : isConfmanPageSelected(['confcreate'])}">
            <span translate="global.menu.create">Create</span>
        </a>
        <a class="menu-item menu-sub-item" href="#/config/compare" ng-click="toggleLeft()"
           ng-class="{active : isConfmanPageSelected(['confcomp'])}">
            <span translate="global.menu.compare"> Compare</span>
        </a>


        <button class="menu-item menu-title" translate="global.menu.admin">
            Administration
        </button>
        <div class="menu-item menu-sub-item" >
            <a href="javascript:;" ng-click="changeLanguage('fr')" ng-controller="langCtrl">
                <img src="img/flag/flag_fr.svg" style="height: 16px; width: 18px">
                <span translate="global.menu.language.french">Afficher en français</span>
            </a>
        </div>
        <div class="menu-item menu-sub-item" >
            <a href="javascript:;" ng-click="changeLanguage('en')" ng-controller="langCtrl">
                <img src="img/flag/flag_en.svg" style="height: 16px; width: 18px">
                <span translate="global.menu.language.english">Display in english</span>
            </a>
        </div>

    </md-content>
</md-sidenav>

<div layout="vertical" layout-fill>
    <md-toolbar class="md-theme-light">
        <div class="md-toolbar-tools">
            <div class="menu-icon" ng-click="toggleLeft()" hide-md>
                <md-icon icon="img/icon/ic_menu_24px.svg"></md-icon>
            </div>

            <span ng-bind="currentPage.name || 'Confman'" style="margin-left: 9px"></span>

            <span flex></span>

            <md-button class="md-button" style="position: static; display: block;"
                       ng-show="currentPage.actionbar"
                       ng-repeat="act in currentPage.actionbar" ng-click="act.action()">
                <img ng-src="img/icon/{{act.icon}}.svg" style="width: 24px; height: 24px;"/>
            </md-button>
            <md-button class="md-button md-button-fab-bottom-right" ng-click="logout()">
                <md-tooltip >
                    <span translate="global.menu.account.logout">Logout</span>
                </md-tooltip>
                <img ng-src="img/icon/ic_logout_24px.png"/>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-theme-grey" scroll-header condensed-height="60"
                ng-show="currentPage.description">

        <div class="md-toolbar-tools md-toolbar-tools-bottom">
            <span class="md-flex md-indent"><small>{{currentPage.description}}</small></span>
        </div>
        <md-button class="md-button-fab md-button-fab-bottom-right md-theme-yellow" style="top: 20px">
            <img ng-src="img/icon/{{currentPage.icon}}.svg" style="width: 24px;height: 24px"/>
        </md-button>
    </md-toolbar>
    <div class="col-md-12">
        <br>

        <div class="alert alert-danger" ng-show="errorUrl">
            {{errorUrl}}
        </div>
    </div>
    <ng-view class="sliding-view">

    </ng-view>
</div>

<script type="text/ng-template" id="modalConfirmDelete.html">
    <div class="modal-header">
        <h3 class="modal-title" translate="global.form.confirmdelete">Deletion confirmation</h3>
    </div>
    <div class="modal-body">
        <span translate="global.form.confirmdelete.placeholder">Are you sure you want to delete the</span> <span ng-bind-html="entity_todelete"></span> ?
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="ok()">
            <img src="img/icon/ic_delete_24px.svg" title="Delete"/>
        </button>
        <button class="btn btn-default" ng-click="cancel()">
            <img src="img/icon/ic_clear_24px.svg" title="Cancel"/>
        </button>
    </div>
</script>

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<script src="lib/jquery/dist/jquery.js"></script>
<script src="lib/json3/lib/json3.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="lib/hammerjs/hammer.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,src}) scripts/angular.js -->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-resource/angular-resource.js"></script>
<script src="lib/angular-sanitize/angular-sanitize.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="lib/angular-animate/angular-animate.js"></script>
<script src="lib/angular-aria/angular-aria.js"></script>
<script src="lib/angular-material/angular-material.js"></script>
<script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="lib/angular-cookies/angular-cookies.js"></script>
<script src="lib/angular-translate/angular-translate.js"></script>
<script src="lib/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script src="lib/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>

<!-- endbuild -->

<!-- build:js({.tmp,src}) scripts/scripts.js -->
<script src="js/util/http-auth-interceptor.js"></script>
<script src="js/util/utils.js"></script>
<script src="js/app.js"></script>
<script src="js/service/entities.js"></script>
<script src="js/service/tables.js"></script>
<script src="js/service/param.js"></script>
<script src="js/service/security.js"></script>
<script src="js/service/translate.js"></script>
<script src="js/controller/main.js"></script>
<script src="js/controller/login.js"></script>
<script src="js/controller/environment.js"></script>
<script src="js/controller/softwaresuite.js"></script>
<script src="js/controller/application.js"></script>
<script src="js/controller/applicationdetail.js"></script>
<script src="js/controller/configcompare.js"></script>
<script src="js/controller/configcreate.js"></script>
<script src="js/controller/configsearch.js"></script>
<script src="js/controller/lang.js"></script>
<script src="js/directive/semver.js"></script>
<script src="js/directive/selectlang.js"></script>
<!-- endbuild -->

</body>
</html>


