.gradle
/local.properties
**/.idea
**/*.iml
target
build
client/wrapper
client/bower_components
client/node_modules
client/dist
server/wrapper
**/gradlew
**/gradlew.bat
manager/build
gradle.properties
out
