<md-content ng-controller="applicationCtrl">
    <div class="container-fluid">
        <h4>
        nb applications : {{applications.length}}
        <div class="confman-btn" style="width: 50%">
            <button class="btn btn-primary" ng-click="create()">
                <img src="img/icon/ic_insert_drive_file_24px.svg" title="New"/>
            </button>
        </div>
    </h4>
    <md-list>
        <md-item ng-repeat="env in applications | orderBy:'code'" ng-dblClick="update(env)">
            <md-item-content>
                <div class="md-tile-content">
                    <h3>{{env.code}} <small ng-show="env.softwaresuite">({{env.softwaresuite.code}})</small></h3>
                    <p>{{env.label}}</p>
                </div>
            </md-item-content>
        </md-item>
    </md-list>
    </div>
</md-content>
