<md-content  ng-controller="configCompareCtrl">
    <div class="container-fluid">
        <br>
        <div class="alert alert-danger confman-alert-error container-fluid" role="alert" ng-show="error">
            Error cc: {{error.message}}
        </div>
        <form class="form confman-form" name="form" novalidate>
            <div class="container-fluid thumbnail" ng-hide="lockVersion">
                <div class="row">
                    <div class="col-md-1">
                        <label for="data-application" translate="global.form.application">&nbsp;Application</label>
                    </div>
                    <div class="col-md-3">
                        <select id="data-application" ng-model="criteria.idApplication" class="form-control input-sm input-sm input-sm" required
                                ng-change="changeApplication()" name="application"
                                ng-options="application.id as application.code for application in applications">
                            <option value="">Application</option>
                        </select>
                        <span ng-show="form.application.$error.required" class="confman-label-error"><small translate="pcompare.messages.error.apprequired">Application is required</small></span>
                    </div>
                    <div class="col-md-1">
                        <label translate="global.form.version">&nbsp;Versions</label>
                    </div>
                    <div class="col-md-3">
                        <select ng-model="criteria.idApplicationVersion1" class="form-control input-sm"
                                required name="idApplicationVersion1"
                                ng-options="applicationVersion.id as applicationVersion.code for applicationVersion in applicationVersions">
                            <option value="" translate="global.form.version">Versions</option>
                        </select>
                        <span ng-show="form.idApplicationVersion1.$error.required" class="confman-label-error"><small translate="pcompare.messages.error.version1required">application version 1 is required</small></span>
                    </div>
                    <div class="col-md-3">
                        <select ng-model="criteria.idApplicationVersion2" class="form-control input-sm"
                                required name="idApplicationVersion2"
                                ng-options="applicationVersion.id as applicationVersion.code for applicationVersion in applicationVersions">
                            <option value="" translate="global.form.version">Versions</option>
                        </select>
                        <span ng-show="form.idApplicationVersion2.$error.required" class="confman-label-error"><small translate="pcompare.messages.error.version2required">application version 2 is required</small></span>
                    </div>
                    <div class="col-md-1">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">&nbsp;</div>
                    <div class="col-md-1">
                        <label translate="global.form.environment">&nbsp;Env.</label>
                    </div>
                    <div class="col-md-3">
                        <select ng-model="criteria.idEnvironment1" class="form-control input-sm"
                                required  name="idEnvironment1"
                                ng-options="env.id as env.code for env in environments">
                            <option value="" translate="global.form.environment">Environment</option>
                        </select>
                        <span ng-show="form.idEnvironment1.$error.required" class="confman-label-error"><small translate="pcompare.messages.error.app1required">application env 1 is required</small></span>
                    </div>
                    <div class="col-md-3">
                        <select ng-model="criteria.idEnvironment2" class="form-control input-sm"
                                required  name="idEnvironment2"
                                ng-options="env.id as env.code for env in environments">
                            <option value="" translate="global.form.environment">Environment</option>
                        </select>
                        <span ng-show="form.idEnvironment2.$error.required" class="confman-label-error"><small translate="pcompare.messages.error.app2required">application env 2 is required</small></span>
                    </div>
                    <div class="col-md-1">
                        <div class="confman-btn">
                            <button class="btn btn-primary" ng-click="compareVersion()"
                                    ng-disabled="form.$invalid">
                                <img src="img/icon/ic_developer_mode_tv_24px.svg" title="Create"/>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <md-list>
            <md-item ng-repeat="param in listecomp | orderBy:['codeInstance', 'code']" ng-class="setClassError(param.difference)">
                <md-item-content>
                    <div class="md-tile-left">
                        <div class="confman-list-param-env" ng-show="param.elt1.code">{{param.elt1.codeEnvironment | uppercase | limitTo : 3}}</div>
                        <div class="confman-list-param-empty" ng-hide="param.elt1.code">&nbsp;</div>
                    </div>
                    <div class="md-tile-content">
                        <div class="row">
                            <div class="col-xs-6">
                                <h3 ng-hide="param.elt1.code">&nbsp;</h3>
                                <h3 ng-show="param.elt1.code">{{param.elt1.code}} : <b>{{param.elt1.label}}</b></h3>

                                <h4 ng-show="param.elt1.code"><span translate="global.form.application">Application</span> : {{param.elt1.codeApplication}} -
                                    <span translate="global.form.tracking">tracking version</span> : <div class="badge badge-version">{{param.elt1.codeTrackingVersion}}</div>
                                    <span ng-show="param.elt1.codeInstance">- <span translate="global.form.instance">instance</span> : <div class="badge badge-instance">{{param.elt1.codeInstance}}</div></span>
                                </h4>
                            </div>
                            <div class="col-xs-1">
                                <div ng-show="param.elt1.code">
                                    <div class="confman-list-param-app" ng-hide="param.elt1.codeInstance">APP</div>
                                    <div class="confman-list-param-instance" ng-show="param.elt1.codeInstance">INS</div>
                                </div>
                                <div ng-hide="param.elt1.code">
                                    <div class="confman-list-param-app" ng-hide="param.elt2.codeInstance">APP</div>
                                    <div class="confman-list-param-instance" ng-show="param.elt2.codeInstance">INS</div>
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <h3 ng-hide="param.elt2.code">&nbsp;</h3>
                                <h3 ng-show="param.elt2.code">{{param.elt2.code}} : <b>{{param.elt2.label}}</b></h3>
                                <h4 ng-show="param.elt2.code"><span translate="global.form.application">Application</span> : {{param.elt2.codeApplication}} -
                                    <span translate="global.form.tracking">tracking version</span> : <div class="badge badge-version">{{param.elt2.codeTrackingVersion}}</div>
                                    <span ng-show="param.elt2.codeInstance">- <span translate="global.form.instance">instance</span> : <div class="badge badge-instance">{{param.elt2.codeInstance}}</div></span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="md-tile-right">
                        <div class="confman-list-param-env" ng-show="param.elt2.code">{{param.elt2.codeEnvironment | uppercase | limitTo : 3}}</div>
                        <div class="confman-list-param-empty" ng-hide="param.elt2.code">&nbsp;</div>

                    </div>
                </md-item-content>
            </md-item>
        </md-list>
    </div>
</md-content>
