<md-content ng-controller="userCtrl">
    <div class="container-fluid">
        <div class="col-md-5">
            <h4>
                <span translate="user.nb">nb utilisateurs</span> : {{users.length}}
                <div class="confman-btn" style="width: 50%">
                    <button class="btn btn-primary" ng-click="create()">
                        <img src="img/icon/ic_insert_drive_file_24px.svg" title="New"/>
                    </button>
                </div>
            </h4>
            <md-list>
                <md-item ng-repeat="user in users | orderBy:'code'" ng-click="update(user)"
                               ng-class="isSelected(user.login, entity.selected)" class="confman-md-item">
                    <md-item-content>
                        <div class="md-tile-content">
                            <h3>{{user.login}}
                                <small>({{user.firstName}} {{user.lastName}})</small>
                            </h3>
                            <span class="label label-info" ng-repeat="role in user.roles" style="margin-right: 10px">{{role}}</span>
                        </div>
                    </md-item-content>
                </md-item>
            </md-list>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <form class="form confman-form" name="form" novalidate ng-show="entity.verb">
                <div style="height: 100%">
                    <div class="row">
                        <div class="col-xs-7">
                            <br><h3>{{entity.verb}}</h3>
                        </div>
                        <div class="col-xs-5">
                            <div class="confman-btn">
                                <br/>
                                <button class="btn" ng-class="getClassActionForm(form)" ng-click="save(form)"
                                        ng-disabled="form.$invalid">
                                    <img src="img/icon/ic_save_24px.svg" title="Save"/>
                                </button>
                                <button class="btn btn-danger" ng-click="delete(entity.content, $event)"
                                        ng-show="entity.content.id">
                                    <img src="img/icon/ic_delete_24px.svg" title="Delete"/>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger confman-alert-error container-fluid" role="alert" ng-show="error">
                        Error : {{error.message}}
                    </div>
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-xs-2"><label class="control-label" for="data-login"
                                                         translate="global.form.username">&nbsp;Login</label></div>
                            <div class="col-xs-10"><input type="text" id="data-login" required="true"
                                                          ng-model="entity.content.login"
                                                          class="form-control input-sm confman-input.ng-invalid"
                                                          name="login">
                                <span ng-show="form.login.$error.required"
                                      class="confman-label-error" translate="user.messages.error.loginrequired">Login is required</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"><label class="control-label" for="data-password1"
                                                         translate="global.form.newpassword">&nbsp;Password</label>
                            </div>
                            <div class="col-xs-10"><input type="password" id="data-password1" size="50" required
                                                          ng-model="entity.content.password"
                                                          class="form-control input-sm"
                                                          name="password1">
                                <span ng-show="form.password1.$error.required"
                                      class="confman-label-error" translate="user.messages.error.passwordequired">Password is required</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"><label class="control-label" for="data-password2"
                                                         translate="global.form.confirmpassword">&nbsp;Confirm
                                Password</label>
                            </div>
                            <div class="col-xs-10"><input type="password" id="data-password2" size="50" required
                                                          ng-model="entity.content.password2"
                                                          class="form-control input-sm"
                                                          name="password2" check-password="data-password1">
                                <span ng-show="form.password1.$error.required" class="confman-label-error" translate="user.messages.error.confirmpasswordrequired">Password confirmation is required</span>
                                <span ng-show="form.password1.$error.checkPassword" class="confman-label-error"  translate="user.messages.error.checkpassword">The confirmation don't check</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"><label class="control-label" for="data-lastName"
                                                         translate="global.form.lastname">&nbsp;Firstname</label>
                            </div>
                            <div class="col-xs-10"><input type="text" id="data-lastName" required
                                                          ng-model="entity.content.lastName"
                                                          class="form-control input-sm" name="lastName">
                                    <span ng-show="form.lastName.$error.required"
                                          class="confman-label-error" translate="user.messages.error.lastnamerequired">Lastname is required</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"><label class="control-label" for="data-firstname"
                                                         translate="global.form.firstname">&nbsp;Firstname</label></div>
                            <div class="col-xs-10"><input type="text" id="data-firstname"
                                                          ng-model="entity.content.firstName"
                                                          class="form-control input-sm">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"><label class="control-label" for="data-email"
                                                         translate="global.form.email">&nbsp;email</label></div>
                            <div class="col-xs-10"><input type="email" id="data-email"
                                                          ng-model="entity.content.email"
                                                          class="form-control input-sm">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"><label class="control-label" for="data-language" translate="global.form.language">&nbsp;langKey</label>
                            </div>
                            <div class="col-xs-10">
                                <select id="data-language" ng-model="entity.content.langKey"
                                        class="form-control input-sm input-sm"
                                        name="profile"
                                        ng-options="language for language in languages">
                                    <option value="" ng-hide="entity.content.langKey" translate="global.messages.info.select.elem">S&eacute;lection type
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <br><small  translate="user.messages.info.profile">&nbsp;</small>
                            </div>
                            <div class="col-xs-12"><h4 translate="global.form.profile">&nbsp;profile</h4>
                                <md-list>
                                    <md-item ng-repeat="obj in entity.profiles">
                                        <md-item-content>
                                            <div class="md-tile-content">
                                                <h4>{{obj.code}}</h4>
                                            </div>
                                            <div class="md-tile-right">
                                                <md-checkbox ng-model="obj.selected">
                                                </md-checkbox>
                                            </div>
                                        </md-item-content>
                                    </md-item>
                                </md-list>
                            </div>
                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>
</md-content>
