<!DOCTYPE html>
<html ng-app="confman" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confman</title>
    <meta name="author" content="@agnes_crepet"/>
    <meta name="author" content="@guillaumeehret"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.1.1/css/bootstrap.css"/>
    <link rel="stylesheet" href="styles/material-design.min.css"/>
    <link rel="stylesheet" href="styles/style.less"/>
    <!--<link rel="stylesheet" href="styles/grid.css"/>-->
    <link rel="shortcut icon" href="img/favicon.ico"/>
</head>
<body>
<div ng-controller="AppCtrl">
    <material-sidenav class="material-sidenav-left material-whiteframe-z3" component-id="left">

        <material-toolbar class="material-theme-light">
            <button class="material-button" ng-click="close()"><img src="img/icon/ic_arrow_drop_down_circle_48px.svg"
                                                                    width="24" height="24"/></button>
            <div class="menu-title material-theme-light">
                <img src="img/icone64.png"/>

                <h2>&nbsp;Confman</h2>
                <small>your app's parameter management is now easy</small>
            </div>
        </material-toolbar>
        <material-content class="menu-content">
            <p>
                <a href="/" ng-click="toggleLeft()"><img src="img/icon/ic_home_48px.svg" width="24" height="24"></a>
            </p>

            <p>
                <b>Settings</b><br/>
                <a href="#/environment" ng-click="toggleLeft()">Environment</a><br/>
                <a href="#/softwaresuite" ng-click="toggleLeft()">Software suite</a><br/>
                <a href="#/application" ng-click="toggleLeft()">Application</a><br/>
            </p>
            <p>
                <b>Configuration</b><br/>
                <a href="#/config/search" ng-click="toggleLeft()">Find</a><br/>
                <a href="#/config/create" ng-click="toggleLeft()">Create</a><br/>
                <a href="#/config/compare" ng-click="toggleLeft()">Compare</a><br/>
            </p>
        </material-content>
    </material-sidenav>

    <div class="sidenav-content material-whiteframe-z2">
        <material-toolbar class="material-theme-light">
            <div class="material-toolbar-tools">
                <button class="material-button" ng-click="toggleLeft()"><img src="img/icon/ic_menu_48px.svg" width="24"
                                                                             height="24"/></button>

                <span ng-bind="currentPage.name || 'Confman'" style="margin-left: 9px"></span>

                <div class="material-display-flex material-flex menu_toolbox">
                    <!-- use up the third space so the button is on the right -->
                </div>

                <button class="material-button " style="position: static; display: block;"
                        ng-show="currentPage.actionbar"
                        ng-repeat="act in currentPage.actionbar" ng-click="act.action()">
                    <img ng-src="/img/icon/{{act.icon}}.svg" style="width: 24px; height: 24px;"/>
                </button>
            </div>
        </material-toolbar>
        <material-toolbar id="header-bar" class="material-theme-grey" scroll-header condensed-height="60"
                          ng-show="currentPage.description">
            <div class="material-toolbar-tools material-toolbar-tools-top">
                <span class="material-flex"></span>
            </div>
            <div class="material-toolbar-tools material-toolbar-tools-bottom">
                <span class="material-flex material-indent"><small>{{currentPage.description}}</small></span>
            </div>

            <button class="material-button material-button-fab material-button-fab-bottom-right material-theme-yellow">
                <img ng-src="img/icon/{{currentPage.icon}}.svg"/>
            </button>

        </material-toolbar>

        <ng-view class="sliding-view">

        </ng-view>
    </div>
</div>

<script type="text/ng-template" id="modalConfirmDelete.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete confirmation</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to delete the {{entity_todelete}} ?
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="ok()">
            <img src="img/icon/ic_delete_24px.svg" title="Delete"/>
        </button>
        <button class="btn btn-default" ng-click="cancel()">
            <img src="img/icon/ic_clear_24px.svg" title="Cancel"/>
        </button>
    </div>
</script>


<!--<script src="/webjars/angularjs/1.2.16/angular.min.js"></script>-->
<!--<script src="/webjars/angularjs/1.2.16/angular-resource.min.js"></script>-->
<!--<script src="/webjars/angularjs/1.2.16/angular-route.min.js"></script>-->
<!--<script src="/webjars/angularjs/1.2.16/angular-animate.min.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-resource.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>



<script src="js/angular-animate-sequence/angular-animate-sequence.js"></script>
<script src="js/angular-animate-sequence/angular-animate-stylers.js"></script>
<script src="js/angular-materials/material-design.min.js"></script>

<script src="js/utils.js"></script>
<script src="js/app.js"></script>
<script src="js/controller/main.js"></script>
<script src="js/controller/environment.js"></script>
<script src="js/controller/softwaresuite.js"></script>
<script src="js/controller/application.js"></script>
<script src="js/controller/configcompare.js"></script>
<script src="js/controller/configcreate.js"></script>
<script src="js/controller/configsearch.js"></script>
<script src="js/service/entities.js"></script>
<script src="js/service/tables.js"></script>
</body>
</html>


