<!DOCTYPE html>
<html ng-app="confman" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confman</title>
    <meta name="author" content="@agnes_crepet"/>
    <meta name="author" content="@guillaumeehret"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.1.1/css/bootstrap.css"/>
    <link rel="stylesheet" href="styles/material-design.min.css"/>
    <link rel="stylesheet" href="styles/style.less"/>
    <link rel="shortcut icon" href="img/favicon.ico"/>
</head>
<body>
<div ng-controller="AppCtrl">
    <material-sidenav class="material-sidenav-left material-whiteframe-z3" component-id="left">

        <material-toolbar class="material-theme-light">
            <button class="material-button" ng-click="close()"><img src="img/icon/ic_arrow_drop_down_circle_48px.svg" width="24" height="24"/></button>
            <div class="menu_title material-theme-light">
                <img src="img/icone64.png"/>
                <h2>&nbsp;Confman</h2>
                <small>your app's parameter management is now easy</small>
            </div>
        </material-toolbar>
        <material-content class="menu_content">
            <p>
                <a href="/" ng-click="toggleLeft()"><img src="img/icon/ic_home_48px.svg" width="24" height="24"></a>
            </p>
            <p>
            <b>Parameters</b><br/>
            <a href="#/environment" ng-click="toggleLeft()">Environment</a><br/>
            <a href="" ng-click="toggleLeft()">Application groupment</a><br/>
            </p>
        </material-content>
    </material-sidenav>

    <div class="sidenav-content material-whiteframe-z2">
        <material-toolbar class="material-theme-light">
            <div class="material-toolbar-tools">
                <button class="material-button" ng-click="toggleLeft()"><img src="img/icon/ic_menu_48px.svg" width="24" height="24"/></button>

                <span ng-bind="currentPage.name || 'Confman'" style="margin-left: 9px"></span>

                <div class="material-display-flex material-flex menu_toolbox">
                    <!-- use up the third space so the button is on the right -->
                </div>
                test
            </div>
        </material-toolbar>
        <ng-view class="sliding-view">

        </ng-view>
    </div>
</div>

<!--<script src="/webjars/angularjs/1.2.16/angular.min.js"></script>-->
<!--<script src="/webjars/angularjs/1.2.16/angular-resource.min.js"></script>-->
<!--<script src="/webjars/angularjs/1.2.16/angular-route.min.js"></script>-->
<!--<script src="/webjars/angularjs/1.2.16/angular-animate.min.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular-resource.min.js"></script>

<script src="js/angular-animate-sequence/angular-animate-sequence.js"></script>
<script src="js/angular-animate-sequence/angular-animate-stylers.js"></script>
<script src="js/angular-materials/material-design.min.js"></script>

<script src="js/app.js"></script>
<script src="js/controller/main.js"></script>
<script src="js/controller/environment.js"></script>
</body>
</html>


